@import 'node_modules/ember-frost-core/addon/styles/frost-theme';

.frost-loading {
  .frost-icons {
    &.loading-ring {
      width: 100px;
      height: 100px;
    }
    &.loading-ripple {
      width: 100px;
      height: 100px;
    }
  }

}
